<div class="contain pt-4 w-95 center">
  <p class="fw-bolder fs-3 color-base mb-4">Thông tin chi tiết </p>
  <div class="photos">
    <div class="main-photo">
      <img src="../../../assets/district/bac_tu_liem.png" alt="">
    </div>
    <div class="sub-photo">
      <div class="item">
        <img src="../../../assets/district/quan_ba_dinh.jfif" alt="">
      </div>
      <div class="item">
        <img src="../../../assets/district/quan_hai_ba_trung.jfif" alt="">
      </div>
      <div class="item">
        <img src="../../../assets/district/quan_nam_tu_liem.jfif" alt="">
      </div>
      <div class="item">
        <img src="../../../assets/district/quan_hoang_mai.jfif" alt="">
      </div>
    </div>
  </div>

  <p class="fw-bolder mt-2 fs-5">Phòng cho thuê abc </p>

</div>