<div class="contain pt-4 w-95 center">
  <p class="fw-bolder fs-3 color-base mb-4">Thông tin chi tiết </p>
  <div class="photos">
    <div class="main-photo">
      <img src="../../../assets/district/bac_tu_liem.png" alt="">
    </div>
    <div class="sub-photo">
      <div class="item">
        <img src="../../../assets/district/quan_ba_dinh.jfif" alt="">
      </div>
      <div class="item">
        <img src="../../../assets/district/quan_hai_ba_trung.jfif" alt="">
      </div>
      <div class="item">
        <img src="../../../assets/district/quan_nam_tu_liem.jfif" alt="">
      </div>
      <div class="item img-last">
        <div class="more-img">
          <span>6+</span>
        </div>
        <img src="../../../assets/district/quan_hoang_mai.jfif" alt="">
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col col-lg-9">
      <p class="fs-5 lh-base">HOMESTAY NAM TRỌN GÓI 1,3 TRIỆU/THG ĐIỀU HOÀ LẠNH CÓNG HOMESTAY NAM TRỌN GÓI 1,3
        TRIỆU/THG ĐIỀU HOÀ LẠNH CÓNG HOMESTAY NAM TRỌN GÓI 1,3 TRIỆU/THG ĐIỀU HOÀ LẠNH CÓNG</p>
    </div>
    <div class="col col-lg-3">
      <button type="button" class="btn btn-danger bg-base" style="float: right;">
        <i class="fa fa-share-alt" aria-hidden="true"> chia sẻ</i>
      </button>
    </div>
  </div>

  <div class="row">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item fs-5"><a href="#">Hà Nội</a></li>
        <li class="breadcrumb-item active fs-5" aria-current="page">Bắc Từ Liêm</li>
      </ol>
    </nav>
  </div>

  <div class="row mt-3">
    <div class="col col-lg-8">
      <div class="card-custom p-3">
        <div class="card-title">
          <div class="icon-title">
            <i class="fa fa-home" aria-hidden="true"></i>
          </div>
          <span>Thông tin phòng</span>
        </div>

        <div class="row mt-3">
          <div class="col-3">
            <p class="text-uppercase fs-6">Giá phòng</p>
            <p class="fw-light">5.000.000đ</p>
          </div>
          <div class="col-3">
            <p class="text-uppercase fs-6">Diện tích</p>
            <p class="fw-light">30 m2</p>
          </div>
          <div class="col-3">
            <p class="text-uppercase fs-6">Đặt cọc</p>
            <p class="fw-light">2.500.000đ</p>
          </div>
          <div class="col-3">
            <p class="text-uppercase fs-6">Sức chứa</p>
            <p class="fw-light">2 người</p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-3">
            <p class="text-uppercase fs-6">Điện</p>
            <p class="fw-light">2.500/số</p>
          </div>
          <div class="col-3">
            <p class="text-uppercase fs-6">Nước</p>
            <p class="fw-light">25.000/m3</p>
          </div>
          <div class="col-3">
            <p class="text-uppercase fs-6">Wifi</p>
            <p class="fw-light">70.000/tháng</p>
          </div>
          <div class="col-3">
            <p class="text-uppercase fs-6">Trạng thái</p>
            <p class="fw-bold" style="color: #1EDB4C;">Còn phòng</p>
          </div>
        </div>

        <div class="row mt-3">
          <p class="fs-6">Địa chỉ:Số nhà 15 Ngõ 235 Di Ái Di Trạch Hoài Đức</p>
        </div>
      </div>
    </div>

    <div class="col col-lg-4">
      <div class="card-custom p-3">
        <div class="card-title">
          <div class="icon-title">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <span>Thông tin chủ phòng</span>
        </div>
        <div class="row mt-4 align-items-center">
          <div class="col-2">
            <img class="avatar" src="../../../assets/image/background_house.jpg" alt="">
          </div>
          <div class="col-4 border-end border-black">
            <p class="fs-6 fw-bold">TanVM</p>
            <p>SĐT: 0865431381</p>
          </div>
          <div class="col-6">
            <p>Ngày đăng: 10/11/2022</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col col-lg-8">
      <div class="card-custom p-3">
        <div class="card-title">
          <div class="icon-title">
            <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
          </div>
          <span>Thông tin chi tiết</span>
        </div>

        <div class="row mt-3">
          <pre class="text-content">
            Cho người nước ngoài và hộ gia đình, sinh viên người đi làm thuê căn hộ khách sạn cao cấp khép kín có ban công thoángmát
            - Diện tích 35- 45m2
            - Giá: chỉ từ 5 đến 6 triệu
            - Nội thất: sàn gỗ nhập khẩu,trần Led,tivi smart, tủ lạnh sharp thái lan,bếp từ đôi thái
            - Giường tủ hiện đại,đệm cao cấp
            - Nước nóng dung năng lượng mặt trời đun 24/7 giảm tiền điện bạn phải đun nước nóng
            - Đèn sưởi phòng tắm cao cấp mùa đông bạn khỏi lo sợ tắm và giá lạnh
            - Tivi box FPT với kho phim truyện HBO cùng hang ngàn phim khủng, ca nhạc, phim chiếu rạp giải trí đỉnh cao với màn hình
              trên 60 inh
            - Tủ lạnh 165l sharp thái inverter tiết kiệm điện
            - Bếp từ đôi nhập khẩu khỏi lo mua ga làm gì cho nóng
            - Điều hòa mới siêu mát inverter tiết kiệm điện
            - Máy giặt sharp nhập khẩu indonexia giặt quần áo đảm bảo
            - Ban công phơi đồ rộng thoáng mát: phơi quần áo, trồng cây cảnh, uống cà phê rất mát
            - Quạt mát cũng được trang bị cho thoáng phòng
            - Liên hệ chính chủ: 0904964437
            - Địa chỉ: số 173 Phố Phạm Hùng cách kangnam 500m ngay sát trung tâm hội nghị quốc gia và khách sạn Marriot
            - Miễn môi giới trung gian, xem nhà hoàn toàn miễn phí - Bạn muốn xem video và thêm thông tin về phòng vui lòng qua zalo
            : 0977972780 xin cảm ơn
           </pre>
        </div>
      </div>
    </div>

  </div>