<div class="contain pt-4 w-95 center" *ngIf="dataDetail">
  <p class="fw-bolder fs-3 color-base mb-4">Thông tin chi tiết </p>
  <div class="photos" *ngIf="listImg">
    <div class="main-photo">
      <!-- <img src="../../../assets/district/bac_tu_liem.png" alt=""> -->
      <img src="{{ 'data:image/png;base64,' + listImg[0] }}" alt="" (click)="doPreview(listImg[0])">
    </div>
    <div class="sub-photo">
      <div class="item">
        <img src="{{ 'data:image/png;base64,'+listImg[1] }}" alt="" (click)="doPreview(listImg[1])">
      </div>
      <div class="item">
        <img src="{{ 'data:image/png;base64,'+listImg[2] }}" alt="" (click)="doPreview(listImg[2])">
      </div>
      <div class="item">
        <img src="{{ 'data:image/png;base64,'+listImg[3] }}" alt="" (click)="doPreview(listImg[3])">
      </div>
      <div class="item img-last">
        <div class="more-img" *ngIf="count>0">
          <span>{{count}}+</span>
        </div>
        <img src="{{ 'data:image/png;base64,'+listImg[4] }}" alt="">
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col col-lg-9">
      <p class="fs-5 lh-base">{{dataDetail.title}}</p>
    </div>
    <div class="col col-lg-3">
      <div style="float: right;">
        <button type="button" class="btn btn btn-success me-3" (click)="doBookingRoom()">
          <i class="fa fa-plane" aria-hidden="true"> Đặt xem phòng</i>
        </button>
        <button type="button" class="btn  btn-outline-danger" matTooltip="Thêm vào yêu thích">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item fs-5"><a>Hà Nội</a></li>
        <li class="breadcrumb-item active fs-5" aria-current="page">{{dataDetail.districtName}}</li>
        <li class="breadcrumb-item active fs-5" aria-current="page">{{dataDetail.wardName}}</li>
      </ol>
    </nav>
  </div>

  <div class="row mt-3">
    <div class="col col-lg-8">
      <div class="card-custom p-3">
        <div class="card-title">
          <div class="icon-title">
            <i class="fa fa-home" aria-hidden="true"></i>
          </div>
          <span>Thông tin phòng</span>
        </div>

        <div class="row mt-3">
          <div class="col-3">
            <p class="text-uppercase fs-6">Giá phòng</p>
            <p class="fw-light">{{dataDetail.rentalPrice| number:'1.0-0'}}</p>
          </div>
          <div class="col-3">
            <p class="text-uppercase fs-6">Diện tích</p>
            <p class="fw-light">{{dataDetail.acreage}} m2</p>
          </div>
          <div class="col-3">
            <p class="text-uppercase fs-6">Đặt cọc</p>
            <p class="fw-light">{{dataDetail.deposits| number:'1.0-0'}}</p>
          </div>
          <div class="col-3">
            <p class="text-uppercase fs-6">Sức chứa</p>
            <p class="fw-light">{{dataDetail.capacity}} người</p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-3">
            <p class="text-uppercase fs-6">Điện</p>
            <p class="fw-light">{{dataDetail.electricBill |number:'1.0-0'}}/số</p>
          </div>
          <div class="col-3">
            <p class="text-uppercase fs-6">Nước</p>
            <p class="fw-light">{{dataDetail.waterBill |number:'1.0-0'}}/m3</p>
          </div>
          <div class="col-3">
            <p class="text-uppercase fs-6">Wifi</p>
            <p class="fw-light">{{dataDetail.internetBill |number:'1.0-0'}}/tháng</p>
          </div>
          <div class="col-3">
            <p class="text-uppercase fs-6">Trạng thái</p>
            <p class="fw-bold" style="color: #1EDB4C;">Còn phòng</p>
          </div>
        </div>

        <div class="row mt-3">
          <p class="fs-6">Địa chỉ:{{dataDetail.address}}</p>
        </div>
      </div>
    </div>

    <div class="col col-lg-4">
      <div class="card-custom p-3">
        <div class="card-title">
          <div class="icon-title">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <span>Thông tin chủ phòng</span>
        </div>
        <div class="row mt-4 align-items-center">
          <div class="col-2">
            <img *ngIf="!dataDetail.avatar" class="avatar" src="../../../assets/image/background_house.jpg" alt="">
            <img *ngIf="dataDetail.avatar" class="avatar" src="{{ 'data:image/png;base64,'+dataDetail.avatar}}" alt="">

          </div>
          <div class="col-4 border-end border-black">
            <p class="fs-6 fw-bold">{{dataDetail.userName}}</p>
            <p>{{dataDetail.phoneNumber}}</p>
          </div>
          <div class="col-6">
            <p>{{dataDetail.createDate |date:'dd/MM/yyyy'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col col-lg-8">
      <div class="card-custom p-3">
        <div class="card-title">
          <div class="icon-title">
            <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
          </div>
          <span>Thông tin chi tiết</span>
        </div>

        <div class="row mt-3">
          <pre class="text-content" [innerHTML]="dataDetail.description">

           </pre>
        </div>
      </div>
    </div>

  </div>