<div class="contain pt-4 w-95 center">
  <div class="row mt-3">
    <div class="col col-lg-3">
      <div class="card-custom p-3">
        <p class="fw-bolder fs-4 color-base">Thông tin tìm kiếm</p>
        <mat-form-field class="w-100" [color]="colorBase">
          <mat-label>Quận/huyện</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of lstDistrict" [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Xác thực</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of lstAccuracy" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Loại phòng</mat-label>
          <mat-select>
            <mat-option [value]="-1">--Tất cả--</mat-option>
            <mat-option *ngFor="let item of lstTypeHouse" [value]="item.value">
              {{item.displayName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <p class="fw-bolder" style="color: #00000099;">Giá phòng</p>
        <mat-slider min="0" max="20000000" class="w-100" step="500000" discrete [displayWith]="formatLabel"
          [color]="colorBase">
          <input [(ngModel)]="priceStart" matSliderStartThumb>
          <input [(ngModel)]="priceEnd" matSliderEndThumb>
        </mat-slider>

        <p class="text-center fs-5"><a href="#"
            class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            (click)="isCheck()">Áp
            dụng</a>
        </p>
      </div>
    </div>
    <div class="col col-lg-6">
      <div class="card-custom p-3">
        <p class="fw-bolder fs-4 color-base">Kết quả tìm kiếm</p>
        <div class="row my-3">
          <div class="col-3">
            <img class="img-fluid img-cast" src="../../../assets/image/LEWLEW.jpg" alt="">
          </div>
          <div class="col-9">
            <p class="fw-bolder"> Phòng cho thuê Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
            <p> <strong>Kiểu phòng:</strong> Phòng cho thuê</p>
            <p> <strong>Diện tích:</strong> 30 m2</p>
            <p> <strong>Địa chỉ:</strong> 173 Đường Phạm Hùng, Phường Trung Hòa, Quận Cầu Giấy, Hà Nội </p>
            <p><strong>Giá thuê:</strong> <span class="fw-bolder color-base"> 5.000.000 đ</span></p>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-3">
            <img class="img-fluid img-cast" src="../../../assets/image/LEWLEW.jpg" alt="">
          </div>
          <div class="col-9">
            <p class="fw-bolder"> Phòng cho thuê Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
            <p> <strong>Kiểu phòng:</strong> Phòng cho thuê</p>
            <p> <strong>Diện tích:</strong> 30 m2</p>
            <p> <strong>Địa chỉ:</strong> 173 Đường Phạm Hùng, Phường Trung Hòa, Quận Cầu Giấy, Hà Nội </p>
            <p><strong>Giá thuê:</strong> <span class="fw-bolder color-base"> 5.000.000 đ</span></p>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-3">
            <img class="img-fluid img-cast" src="../../../assets/image/background_house.jpg" alt="">
          </div>
          <div class="col-9">
            <p class="fw-bolder"> Phòng cho thuê Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
            <p> <strong>Kiểu phòng:</strong> Phòng cho thuê</p>
            <p> <strong>Diện tích:</strong> 30 m2</p>
            <p> <strong>Địa chỉ:</strong> 173 Đường Phạm Hùng, Phường Trung Hòa, Quận Cầu Giấy, Hà Nội </p>
            <p><strong>Giá thuê:</strong> <span class="fw-bolder color-base"> 5.000.000 đ</span></p>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-3">
            <img class="img-fluid img-cast" src="../../../assets/image/background_house.jpg" alt="">
          </div>
          <div class="col-9">
            <p class="fw-bolder"> Phòng cho thuê Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
            <p> <strong>Kiểu phòng:</strong> Phòng cho thuê</p>
            <p> <strong>Diện tích:</strong> 30 m2</p>
            <p> <strong>Địa chỉ:</strong> 173 Đường Phạm Hùng, Phường Trung Hòa, Quận Cầu Giấy, Hà Nội </p>
            <p><strong>Giá thuê:</strong> <span class="fw-bolder color-base"> 5.000.000 đ</span></p>
          </div>
        </div>
        <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 15, 20,50]"
          [showFirstLastButtons]="true" [pageIndex]="page" (page)="onChangePage($event)">
        </mat-paginator>
      </div>

    </div>

    <div class="col col-lg-3">
      <div class="card-custom p-3">
        <p class="fw-bolder fs-4 color-base">Bài đăng nổi bật</p>
        <div class="row my-3">
          <div class="col-4">
            <img class="img-fluid img-cast" src="../../../assets/image/LEWLEW.jpg" alt="">
          </div>
          <div class="col-8">
            <p class="fw-bolder"> Phòng cho thuê Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
            <p> <strong>Kiểu phòng:</strong> Phòng cho thuê</p>
            <p> <strong>Diện tích:</strong> 30 m2</p>
            <p> <strong>Địa chỉ:</strong> 173 Đường Phạm Hùng, Phường Trung Hòa, Quận Cầu Giấy, Hà Nội </p>
            <p><strong>Giá thuê:</strong> <span class="fw-bolder color-base"> 5.000.000 đ</span></p>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-4">
            <img class="img-fluid img-cast" src="../../../assets/image/LEWLEW.jpg" alt="">
          </div>
          <div class="col-8">
            <p class="fw-bolder"> Phòng cho thuê Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
            <p> <strong>Kiểu phòng:</strong> Phòng cho thuê</p>
            <p> <strong>Diện tích:</strong> 30 m2</p>
            <p> <strong>Địa chỉ:</strong> 173 Đường Phạm Hùng, Phường Trung Hòa, Quận Cầu Giấy, Hà Nội </p>
            <p><strong>Giá thuê:</strong> <span class="fw-bolder color-base"> 5.000.000 đ</span></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>