<div class="contain pt-4 w-95 center">
  <div class="row mt-3">
    <div class="col col-lg-3">
      <div class="card-custom p-3">
        <p class="fw-bolder fs-4 color-base">Thông tin tìm kiếm</p>
        <mat-form-field class="w-100" [color]="colorBase">
          <mat-label>Quận/huyện</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of lstDistrict" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Xã/phường</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of lstDistrict" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Xác thực</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of lstAccuracy" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-slider min="0" max="500" class="w-100" step="10" discrete [displayWith]="formatLabel" [color]="colorBase">
          <input [(ngModel)]="priceStart" matSliderStartThumb>
          <input [(ngModel)]="priceEnd" matSliderEndThumb>
        </mat-slider>
        <button type="button" class="btn btn-danger" (click)="isCheck()">Check</button>
      </div>
    </div>
    <div class="col col-lg-9">
      <div class="card-custom">
        hello
      </div>
    </div>
  </div>
</div>