<div class="nav">
  <div class="container">
    <div class="logo">
      <a [routerLink]="['/home']">
        <img src="../../../assets/image/logo.png" alt="Ảnh logo">
      </a>
    </div>
    <div class="menu">
      <div class="list-item">
        <div class="item">
          <a [routerLink]="['/detail']">Phòng của bạn</a>
        </div>
        <div class="item">
          <a>Phòng yêu thích</a>
        </div>
        <div class="item">
          <a (click)="doNavigatePage('post-room')">Đăng phòng</a>
        </div>
        <div class="item">
          <a (click)="doNavigatePage('manager')">Quản trị</a>
        </div>
        <div class="item" (click)="doLogin()" *ngIf="userInfo==null">Đăng nhập</div>
      </div>
    </div>
    <div class="search">
      <div class="search-container">
        <input type="text" name="search" placeholder="Nhập tên quận bạn muốn..." class="search-input">
        <a href="#" class="search-btn">
          <i class="fas fa-search" style="color: ff8000;"></i>
        </a>
      </div>
    </div>
  </div>
</div>