<div class="nav">
  <div class="container">
    <div class="logo">
      <a [routerLink]="['/home']">
        <img src="../../../assets/image/logo.png" alt="Ảnh logo">
      </a>
    </div>
    <div class="menu">
      <div class="list-item">
        <div class="item">
          <a [routerLink]="['/detail']">Giải pháp</a>
        </div>
        <div class="item">Giới thiệu</div>
        <div class="item">Tuyển dụng</div>
        <div class="item">Liên hệ</div>
        <!-- <div class="item">Đăng nhập</div> -->
      </div>
    </div>
    <div class="search">
      <div class="search-container">
        <input type="text" name="search" placeholder="Nhập tên quận bạn muốn..." class="search-input">
        <a href="#" class="search-btn">
          <i class="fas fa-search" style="color: ff8000;"></i>
        </a>
      </div>
    </div>
  </div>
</div>