<div class="home">
  <img class="w-100 img-home" src="../../../assets/image/bp4.png" alt="">

  <div class="mt-4 w-95 center">
    <p class="fw-bolder fs-3 color-base mb-4"> Địa điểm tìm kiếm</p>
    <div class="slider border">
      <div class="slide-track">
        <div class="slide">
          <div class="slide-content">
            <img src="../../../assets/district/bac_tu_liem.png" height="100" width="250" alt="" />
            <span class="text-name">bắc từ liêm</span>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <img src="../../../assets/district/quan_ba_dinh.jfif" height="100" width="250" alt="" />
            <span class="text-name">Ba Đình</span>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <img src="../../../assets/district/quan_cau_giay.jfif" height="100" width="250" alt="" />
            <span class="text-name">Cầu Giấy</span>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <img src="../../../assets/district/quan_dong_da.jfif" height="100" width="250" alt="" />
            <span class="text-name">Đống Đa</span>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <img src="../../../assets/district/quan_hai_ba_trung.jfif" height="100" width="250" alt="" />
            <span class="text-name">Hai Bà Trưng</span>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <img src="../../../assets/district/quan_hoan_kiem.jfif" height="100" width="250" alt="" />
            <span class="text-name">hello</span>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <img src="../../../assets/district/quan_hoang_mai.jfif" height="100" width="250" alt="" />
            <span class="text-name">hello</span>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <img src="../../../assets/district/quan_long_bien.jfif" height="100" width="250" alt="" />
            <span class="text-name">hello</span>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <img src="../../../assets/district/quan_nam_tu_liem.jfif" height="100" width="250" alt="" />
            <span class="text-name">hello</span>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <img src="../../../assets/district/quan_tay_ho.jfif" height="100" width="250" alt="" />
            <span class="text-name">hello</span>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <img src="../../../assets/district/quan_thanh_xuan.jfif" height="100" width="250" alt="" />
            <span class="text-name">hello</span>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <img src="../../../assets/district/quan_thanh_xuan.jfif" height="100" width="250" alt="" />
            <span class="text-name">hello</span>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <img src="../../../assets/district/quan_thanh_xuan.jfif" height="100" width="250" alt="" />
            <span class="text-name">hello</span>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <img src="../../../assets/district/quan_thanh_xuan.jfif" height="100" width="250" alt="" />
            <span class="text-name">hello</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-10">
        <p class="fw-bolder fs-3 color-base">Phòng mới nhất</p>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-outline-danger mb-3" style="float: right;">Xem tất cả</button>
      </div>
    </div>
    <div class="card bg-danger-subtle">
      <div class="card-body">
        <div class="row my-3">
          <div class="col-6" (click)="doViewDataDetail()">
            <div class="row">
              <div class="col-4">
                <img class="img-fluid img-cast" src="../../../assets/image/LEWLEW.jpg" alt="">
              </div>
              <div class="col-8">
                <p class="fw-bolder"> Phòng cho thuê Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                <p> <strong>Kiểu phòng:</strong> Phòng cho thuê</p>
                <p> <strong>Diện tích:</strong> 30 m2</p>
                <p> <strong>Địa chỉ:</strong> 173 Đường Phạm Hùng, Phường Trung Hòa, Quận Cầu Giấy, Hà Nội </p>
                <p><strong>Giá thuê:</strong> <span class="fw-bolder color-base"> 5.000.000 đ</span></p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <img class="img-fluid img-cast" src="../../../assets/image/background_house.jpg" alt="">
              </div>
              <div class="col-8">
                <p class="fw-bolder"> Phòng cho thuê Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                <p> Kiểu phòng: Phòng cho thuê</p>
                <p> Diện tích: 30 m2</p>
                <p>Giá thuê: 5.000.000 đ</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <img class="img-fluid img-cast" src="../../../assets/image/LEWLEW.jpg" alt="">
              </div>
              <div class="col-8">
                <p class="fw-bolder"> Phòng cho thuê Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                <p> Kiểu phòng: Phòng cho thuê</p>
                <p> Diện tích: 30 m2</p>
                <p>Giá thuê: 5.000.000 đ</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <img class="img-fluid img-cast" src="../../../assets/image/background_house.jpg" alt="">
              </div>
              <div class="col-8">
                <p class="fw-bolder"> Phòng cho thuê Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                <p> Kiểu phòng: Phòng cho thuê</p>
                <p> Diện tích: 30 m2</p>
                <p>Giá thuê: 5.000.000 đ</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <img class="img-fluid img-cast" src="../../../assets/image/LEWLEW.jpg" alt="">
              </div>
              <div class="col-8">
                <p class="fw-bolder"> Phòng cho thuê Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                <p> Kiểu phòng: Phòng cho thuê</p>
                <p> Diện tích: 30 m2</p>
                <p>Giá thuê: 5.000.000 đ</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <img class="img-fluid img-cast" src="../../../assets/image/background_house.jpg" alt="">
              </div>
              <div class="col-8">
                <p class="fw-bolder"> Phòng cho thuê Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                <p> Kiểu phòng: Phòng cho thuê</p>
                <p> Diện tích: 30 m2</p>
                <p>Giá thuê: 5.000.000 đ</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-10">
        <p class="fw-bolder fs-3 color-base">Phòng đã xác thực</p>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-outline-danger mb-3" style="float: right;">Xem tất cả</button>
      </div>
    </div>
    <div class="card bg-danger-subtle">
      <div class="card-body">
        <div class="row my-3">
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <img class="img-fluid img-cast" src="../../../assets/image/LEWLEW.jpg" alt="">
              </div>
              <div class="col-8">
                <p class="fw-bolder"> Phòng cho thuê Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                <p> Kiểu phòng: Phòng cho thuê</p>
                <p> Diện tích: 30 m2</p>
                <p>Giá thuê: 5.000.000 đ</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <img class="img-fluid img-cast" src="../../../assets/image/background_house.jpg" alt="">
              </div>
              <div class="col-8">
                <p class="fw-bolder"> Phòng cho thuê Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                <p> Kiểu phòng: Phòng cho thuê</p>
                <p> Diện tích: 30 m2</p>
                <p>Giá thuê: 5.000.000 đ</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <img class="img-fluid img-cast" src="../../../assets/image/LEWLEW.jpg" alt="">
              </div>
              <div class="col-8">
                <p class="fw-bolder"> Phòng cho thuê Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                <p> Kiểu phòng: Phòng cho thuê</p>
                <p> Diện tích: 30 m2</p>
                <p>Giá thuê: 5.000.000 đ</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <img class="img-fluid img-cast" src="../../../assets/image/background_house.jpg" alt="">
              </div>
              <div class="col-8">
                <p class="fw-bolder"> Phòng cho thuê Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                <p> Kiểu phòng: Phòng cho thuê</p>
                <p> Diện tích: 30 m2</p>
                <p>Giá thuê: 5.000.000 đ</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <img class="img-fluid img-cast" src="../../../assets/image/LEWLEW.jpg" alt="">
              </div>
              <div class="col-8">
                <p class="fw-bolder"> Phòng cho thuê Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                <p> Kiểu phòng: Phòng cho thuê</p>
                <p> Diện tích: 30 m2</p>
                <p>Giá thuê: 5.000.000 đ</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <img class="img-fluid img-cast" src="../../../assets/image/background_house.jpg" alt="">
              </div>
              <div class="col-8">
                <p class="fw-bolder"> Phòng cho thuê Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                <p> Kiểu phòng: Phòng cho thuê</p>
                <p> Diện tích: 30 m2</p>
                <p>Giá thuê: 5.000.000 đ</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>