.footer {
  background-color: #f7346f;
  width: 100%;
  margin-top: 20px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 80%;
    height: 80%;
  }
}

.content {
  .text-name {
    font-size: 40px;
    text-align: center;
  }

  .menu-footer {
    margin: 0 auto;
    width: 50%;

    .list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .item {
        text-transform: uppercase;
        color: #fff;
      }
    }
  }
  .icon-social {
    display: flex;
    justify-content: center;
    a {
      height: 40px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 20px;
      text-align: center;
      line-height: 40px;
      margin: 15px 20px;
      .item {
        height: 100%;
        width: 40px;
      }
    }
  }
  .text-copyright {
    margin-top: 10px;
    text-align: center;
    color: #fff;
  }
}
