<div class="footer mt-5 ">
  <div class="row">
    <div class="col col-lg-4 logo">
      <img src="../../../assets/image/logo_footer.png" alt="Ảnh logo footer">
    </div>
    <div class="col col-lg-8">
      <div class="content my-3">
        <!-- <div class="text-name">
          <span>M.TAN.VU</span>
        </div> -->
        <div class="menu-footer">
          <div class="list-item">
            <div class="item">Giải pháp</div>
            <div class="item">Giới thiệu</div>
            <div class="item">Tuyển dụng</div>
            <div class="item">Liên hệ</div>
          </div>
        </div>
        <div class="icon-social">
          <a href="">
            <i class="fab fa-facebook fa-lg item"></i>
          </a>
          <a href="">
            <i class="fab fa-instagram fa-lg item"></i>
          </a>
          <a href="">
            <i class="fab fa-telegram fa-lg item"></i>
          </a>
          <a href="">
            <i class="fab fa-whatsapp fa-lg item"></i>
          </a>
        </div>
        <div class="text-copyright">
          <span>Copyright</span>
          <i class="far fa-copyright"></i>
          <span>2023 All rights reserved | This website is made with by TanVM</span>
        </div>
      </div>
    </div>
  </div>
</div>