
.form{
    margin: 20px;
    position: relative;
}
.form .btn-close {
    position: absolute;
    top: -3px;
    right: 0px;
    font-size: 18px;
  }

.form-container {
    max-width: 400px;
}

.row {
    display: flex;
    gap: 16px;
}