<div class="card-custom p-3">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active" *ngFor="let item of dataInput;index as i">
        <img src="{{ 'data:image/png;base64,' + item.imgData }}" class="d-block w-100 img-previews img-thumbnail"
          alt="...">
        <p class="fs-5 mt-2">{{item.name}} &#40;{{i+1}}/{{dataInput.length}}&#41;</p>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>