<div class="contain pt-4 w-95 center">

  <div class="card-custom p-3" [formGroup]="firstFormGroup">
    <p class="fw-bolder fs-5 color-base">Thông tin phòng</p>
    <div class="row mt-3">
      <div class="col col-lg-3">
        <mat-form-field class="w-100" color="accent" appearance="outline">
          <mat-label>Loại phòng</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of lstRoomType" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col col-lg-3">
        <mat-form-field class="w-100" appearance="outline" color="accent">
          <mat-label>Số lượng phòng hiện có</mat-label>
          <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required type="number"
            min="1">
          <span matTextSuffix>phòng</span>
        </mat-form-field>
      </div>
      <div class="col col-lg-3">
        <mat-form-field class="w-100" appearance="outline" color="accent">
          <mat-label>Diện tích</mat-label>
          <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
          <span matTextSuffix>m2</span>
        </mat-form-field>
      </div>
      <div class="col col-lg-3">
        <mat-form-field class="w-100" appearance="outline" color="accent">
          <mat-label>Giá cho thuê</mat-label>
          <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
          <span matTextSuffix>/tháng</span>
        </mat-form-field>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <span class="fs-5 color-base">Thời gian sinh hoạt </span>
        <mat-radio-group [(ngModel)]="timeShow" [ngModelOptions]="{standalone: true}">
          <mat-radio-button [value]="false">Tự do</mat-radio-button>
          <mat-radio-button [value]="true">Hạn chế</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-3" *ngIf="timeShow">
        <div class="row">
          <div class="col-6">
            <input [ngxTimepicker]="picker1" class="w-100 time-picker-custom" placeholder="Giờ mở cửa...">
            <ngx-material-timepicker #picker1></ngx-material-timepicker>
          </div>
          <div class="col-6">
            <input [ngxTimepicker]="picker2" class="w-100 time-picker-custom" placeholder="Giờ đóng cửa...">
            <ngx-material-timepicker #picker2></ngx-material-timepicker>
          </div>
        </div>
      </div>
    </div>

    <p class="fw-bolder fs-5 color-base">Chi phí sinh hoạt</p>
    <div class="row mt-3">
      <div class="col col-lg-3">
        <mat-form-field class="w-100" appearance="outline" color="accent">
          <mat-label>Đặt cọc</mat-label>
          <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
        </mat-form-field>
      </div>
      <div class="col col-lg-3">
        <mat-form-field class="w-100" appearance="outline" color="accent">
          <mat-label>Tiền điện</mat-label>
          <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
          <span matTextSuffix>/số</span>
        </mat-form-field>
      </div>
      <div class="col col-lg-3">
        <mat-form-field class="w-100" appearance="outline" color="accent">
          <mat-label>Tiền nước</mat-label>
          <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
          <span matTextSuffix>/Khối</span>
        </mat-form-field>
      </div>
      <div class="col col-lg-3">
        <mat-form-field class="w-100" appearance="outline" color="accent">
          <mat-label>Wifi</mat-label>
          <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
          <span matTextSuffix>/tháng</span>
        </mat-form-field>
      </div>
    </div>

    <p class="fw-bolder fs-5 color-base">Địa chỉ</p>
    <div class="row mt-3">
      <div class="col col-lg-3">
        <mat-form-field class="w-100" appearance="outline" color="accent">
          <mat-label>Quận huyện</mat-label>
          <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
        </mat-form-field>
      </div>
      <div class="col col-lg-3">
        <mat-form-field class="w-100" appearance="outline" color="accent">
          <mat-label>Xã phường/thị trấn</mat-label>
          <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
        </mat-form-field>
      </div>
      <div class="col col-lg-6">
        <mat-form-field class="w-100" appearance="outline" color="accent">
          <mat-label>Tên đường, số nhà</mat-label>
          <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
        </mat-form-field>
      </div>
    </div>

    <p class="fw-bolder fs-5 color-base">Tiện ích mô tả</p>
    <div class="row mt-3">
      <div class="col col-lg-6">
        <button type="button" class="btn btn-info color-white" (click)="fileField.click()">
          <i class="fa fa-file-image-o" aria-hidden="true"></i>
          Upload ảnh</button>
        <input type="file" #fileField (change)="changeFile($event)" hidden accept="video/*,image/*" multiple />
        <div class="row mt-2">
          <li>
            <mat-chip-listbox *ngFor="let item of listImage; index as i">
              <mat-chip (click)="doPreview(item)">
                <img matChipAvatar src="{{ 'data:image/jpg;base64,' + (item.imgData ? item.imgData : '')}}" />
                {{ (item.name).length > 30
                ? (item.name | slice : 0 : 30) +
                "..."
                : item.name }}
                <button matChipRemove (click)="removeFile(i)">
                  <i class="fa fa-times"></i>
                </button>
              </mat-chip>
            </mat-chip-listbox>
          </li>
        </div>
      </div>
      <div class="col col-lg-6 mt-1">
      <p class="fw-bolder fs-5"> Mô tả chi tiết</p>
      <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
      </div>
    </div>

  </div>


</div>