.container-manager {
  height: calc(100vh - 70px);
}

.sidenav-header {
  padding-top: 24px;
  text-align: center;

  > img {
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .header-text {
    > h2 {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    > p {
      margin: 0;
      font-size: 0.8rem;
    }
  }
}
.sidenav-content {
  position: relative;
  display: block;
  padding: 25px;
  background-color: #f6f7fb;
}
.selected-menu-item {
  border-left: 5px solid #f7346f;
  color: #f7346f !important;
}
.mat-mdc-list-base.mat-mdc-list-base
  .mdc-list-item--activated
  .mdc-list-item__primary-text {
  color: #f7346f !important;
}

.mat-mdc-list-base.mat-mdc-list-base
  .mdc-list-item--activated.mdc-list-item--with-leading-icon
  .mdc-list-item__start {
  color: #f7346f !important;
}
