<mat-sidenav-container class="container-manager">
  <mat-sidenav opened mode="side" class="mat-sidenav">
    <div class="sidenav-header">
      <img *ngIf="!userInfo.avatar" src="../../../assets/image/avatar-trang.jpg" alt="" width="100" height="100">
      <img *ngIf="userInfo && userInfo.avatar" src="{{ 'data:image/png;base64,' + userInfo?.avatar }}" alt=""
        width="100" height="100">
      <div class="header-text">
        <h2>{{userInfo.userName}}</h2>
      </div>
    </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of lstMenuItem" [routerLink]="item.route" routerLinkActive="selected-menu-item"
        #rla="routerLinkActive" [activated]="rla.isActive" color="accent">
        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
        <span matListItemTitle>{{item.label}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>