<div class="dialog-preview pb-4">
  <div class="contain pt-4 w-95 center">
    <p class="fw-bolder fs-3 color-base mb-4">Thông tin chi tiết </p>
    <button type="button" class="btn-close" aria-label="Close" (click)="doClose()"></button>
    <div class="photos">
      <div class="main-photo">
        <img src="{{ 'data:image/png;base64,' + imgMain.imgData }}" alt="">
      </div>
      <div class="sub-photo">
        <div class="item" *ngFor="let item of lstImgSub">
          <img src="{{ 'data:image/png;base64,' + item.imgData }}" alt="">
        </div>
        <div class="item img-last">
          <div class="more-img" *ngIf="numberMore">
            <span>{{numberMore}}+</span>
          </div>
          <img src="{{ 'data:image/png;base64,' + imgLast.imgData }}" alt="">
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col col-lg-9">
        <p class="fs-5 lh-base">{{dataInput.title}}</p>
      </div>
      <div class="col col-lg-3">
        <button type="button" class="btn btn-danger bg-base" style="float: right;">
          <i class="fa fa-share-alt" aria-hidden="true"> chia sẻ</i>
        </button>
      </div>
    </div>

    <div class="row">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item fs-5"><a href="#">Hà Nội</a></li>
          <li class="breadcrumb-item active fs-5" aria-current="page">Bắc Từ Liêm</li>
        </ol>
      </nav>
    </div>

    <div class="row mt-3">
      <div class="col col-lg-8">
        <div class="card-custom p-3">
          <div class="card-title">
            <div class="icon-title">
              <i class="fa fa-home" aria-hidden="true"></i>
            </div>
            <span>Thông tin phòng</span>
          </div>

          <div class="row mt-3">
            <div class="col-3">
              <p class="text-uppercase fs-6">Giá phòng</p>
              <p class="fw-light">{{formatCurrency(dataInput.rentalPrice)}}</p>
            </div>
            <div class="col-3">
              <p class="text-uppercase fs-6">Diện tích</p>
              <p class="fw-light">{{dataInput.acreage}} m2</p>
            </div>
            <div class="col-3">
              <p class="text-uppercase fs-6">Đặt cọc</p>
              <p class="fw-light">{{formatCurrency(dataInput.deposits)}}</p>
            </div>
            <div class="col-3">
              <p class="text-uppercase fs-6">Sức chứa</p>
              <p class="fw-light">{{dataInput.totalPersion}} người</p>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-3">
              <p class="text-uppercase fs-6">Điện</p>
              <p class="fw-light">{{formatCurrency(dataInput.electricBill)}}/số</p>
            </div>
            <div class="col-3">
              <p class="text-uppercase fs-6">Nước</p>
              <p class="fw-light">{{formatCurrency(dataInput.waterBill)}}/m3</p>
            </div>
            <div class="col-3">
              <p class="text-uppercase fs-6">Wifi</p>
              <p class="fw-light">{{formatCurrency(dataInput.internetBill)}}/tháng</p>
            </div>
            <div class="col-3">
              <p class="text-uppercase fs-6">Trạng thái</p>
              <p class="fw-bold" style="color: #1EDB4C;">Còn phòng</p>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-3" *ngIf="dataInput.totalRoom>1">
              <p class="text-uppercase fs-6">Số phòng hiện có</p>
              <p class="fw-light">{{dataInput.totalRoom}}</p>
            </div>
            <div class="col-3" *ngIf="dataInput.timeStart">
              <p class="text-uppercase fs-6">Giờ mở cửa</p>
              <p class="fw-light">{{dataInput.timeStart}}</p>
            </div>
            <div class="col-3" *ngIf="dataInput.timeEnd">
              <p class="text-uppercase fs-6">Giờ đóng cửa</p>
              <p class="fw-light">{{dataInput.timeEnd}}</p>
            </div>
          </div>

          <div class="row mt-3">
            <p class="fs-6">Địa chỉ: {{dataInput.address}}</p>
          </div>
        </div>
      </div>

      <div class="col col-lg-4">
        <div class="card-custom p-3">
          <div class="card-title">
            <div class="icon-title">
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <span>Thông tin chủ phòng</span>
          </div>
          <div class="row mt-4 align-items-center">
            <div class="col-2">
              <img class="avatar" src="../../../assets/image/background_house.jpg" alt="">
            </div>
            <div class="col-4 border-end border-black">
              <p class="fs-6 fw-bold">TanVM</p>
              <p>SĐT: {{dataInput.phoneNumber}}</p>
            </div>
            <div class="col-6">
              <p>Ngày đăng: 10/11/2022</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col col-lg-8">
        <div class="card-custom p-3">
          <div class="card-title">
            <div class="icon-title">
              <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
            </div>
            <span>Thông tin chi tiết</span>
          </div>

          <div class="row mt-3">
            <div class="text-content">
              <div [innerHTML]="dataInput.description"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>