<div class="animated fadeIn">
  <mat-card class="mat-card-custom mb-4">
    <mat-card-header class="card-header-custom">
      <mat-card-title>Thông tin tìm kiếm</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
          <div class="col-4">
            <mat-form-field class="w-100" color="accent">
              <mat-label>Tên đăng nhập/email</mat-label>
              <input trim="blur" matInput [(ngModel)]="userNameOrEmail">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="w-100" color="accent">
              <mat-label>Trạng thái</mat-label>
              <mat-select [(ngModel)]="isActive">
                <mat-option *ngFor="let obj of lstStatus" [value]="obj.value">
                  {{ obj.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      <div class="text-end">
        <button type="button" class="btn btn-info color-white me-3" (click)="doSearch()">
          <i class="fa fa-search" aria-hidden="true"></i>
          Tìm kiếm
        </button>
        <button type="button" class="btn btn-success" (click)="doOpenDialog(null)">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          Thêm mới
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <grid-table [dataSource]="dataList" [tableColumns]="tableColumns" [tableAction]="tableAction"
    [totalItems]="totalItems" (doChangePage)="doSearch($event)">
  </grid-table>
</div>